<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h4>Testimonials</h4>
            </div>
        </div>

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6 l4" ng-repeat="quote in testimonials">
                <div class="icon-block">
                    <blockquote>
                        <p>
                            {{quote.quote.substring(0, quote.quote.indexOf('.') + 1) + ' '}}
                            <a href="#">more</a>
                        </p>

                        <p class="light">&#45; {{quote.person}}</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
