<div class="row">
    <h1 class="center-align">Timeline of My Career</h1>
</div>

<div class="row">
    <div class="container">
        <timeline>
            <timeline-event ng-repeat="event in events" side="alternate">
                <timeline-badge class="{{event.badgeClass}}">
                    <i class="material-icons timeline-badge-icon">{{event.icon}}</i>
                </timeline-badge>
                <timeline-panel>
                    <timeline-heading>
                        <h4>{{event.title}}</h4>
                    </timeline-heading>
                    <p>{{event.content}}</p>
                    <timeline-footer>
                        <p class="light">{{event.date}}</p>
                    </timeline-footer>
                </timeline-panel>
            </timeline-event>
        </timeline>
    </div>
</div>
