<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3>
                    <i class="mdi-social-person brown-text"></i>
                </h3>
                <h4>{{title}}</h4>
                <p class="left-align light">
                    {{elevatorPitch}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4" ng-repeat="strength in strengths">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">{{strength.icon}}</i>
                    </h2>
                    <h5 class="center">{{strength.tagLine}}</h5>
                    <p class="light">{{strength.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view="skills"></div>

<div ui-view="testimonials"></div>
