<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h4>Skills</h4>
            </div>
        </div>

        <div class="row" ng-repeat="category in skillCategories">
            <div class="col s12 m3">
                <h5 class="light">{{category.name}}</h5>
            </div>
            <div class="col s12 m9">
                <p>{{category.skills.join(', ')}}</p>
            </div>
        </div>
    </div>
</div>
